<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quality tutorials for JAMB, IELTS, WAEC </title>
	<link rel=stylesheet href="{% static 'bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'style.css'%}"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light ">
	<a class="navbar-brand" href="#" style="color:white"><i>Royal</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="ab row"style="padding:20px">
<div class=" col-md-6"></div>


<div class="col-md-6 text-center">

<h2 style="color:white;" >Royal Spring<br/>  College of Advance Studies  </h2>

<a href="/accounts/signup/"><button class="btn btn-info btn-lg">Register</button></a>
	<a href="/accounts/login/"><button class="btn btn-info btn-lg" >Login</button></a>

</div></div>


<div class="container-fluid">

	<div class="ft">
<h4 class="text-center">About us</h4>
		<div class="text-muted text-center"> We offer lessons on WAEC, JAMB, NECO, IELTS, SAT, TOEFL, NABTEB, JUPEB </div>

		<div class="row" style="margin-left:10px;">
		<div class="col-md-6">

			<div class="jumbotron"><i class="fa fa-bomb" style="color:#556877; font-size:30px;"> </i><br/>
			Never neglect the law of process, every growth demands discipline.
			Never neglect the law of process, every growth demands discipline.
			Never neglect the law of process, every growth demands discipline.Never neglect the law of process, every growth demands discipline.
			Never neglect the law of process, every growth demands discipline.
			Never neglect the law of process, every growth demands discipline.Never neglect the law of process, every growth demands discipline.
			Never neglect the law of process, every growth demands discipline.
			Never neglect the law of process, every growth demands discipline.</div>
			<div class="jumbotron"><i class="fa fa-bolt" style="color:#556877; font-size:30px;"> The father's love</i><br/> You're too loving to leave me,
			you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me
				you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me
				you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me
				you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me you're faithful to disappoint me
			</div>


										</div>
		<div class="col-md-6 card">
		<h4 class="text-muted text-center">Why us?</h4>

		<button class="btn btn-outline">
		<div class="blockquote">
			<div class="display-6"> The Dream we had... <br/>
			<span class="text-muted" style="font-size:1rem;">""" Alas He told me and said, who can this be """</span>
			</div>
		<div class="blockquote-footer text-muted"> By Bunmi Ben</div>



		</div></button>


				<button class="btn btn-outline">
		<div class="blockquote">
			<div class="display-6"> The Dream we had... <br/>
			<span class="text-muted" style="font-size:1rem;">""" Alas He told me and said, who can this be """</span>
			</div>
		<div class="blockquote-footer text-muted"> Anonymous</div>



		</div></button>

				<button class="btn btn-outline">
		<div class="blockquote">
			<div class="display-6"> The Dream we had... <br/>
			<span class="text-muted" style="font-size:1rem;">""" Alas He told me and said, who can this be """</span>
			</div>
		<div class="blockquote-footer text-muted"> Anonymous</div>



		</div></button>
				<button class="btn btn-outline">
		<div class="blockquote">
			<div class="display-6"> The Dream we had... <br/>
			<span class="text-muted" style="font-size:1rem;">""" Alas He told me and said, who can this be """</span>
			</div>
		<div class="blockquote-footer text-muted"> Anonymous</div>



		</div></button>




		</div>

		</div>


</div>
<footer> <div class="text-center">
<div>
	<ul>
	<li>contact Us- 08131849394, 08130265054</li>
	<li>Location: </li>
	<li> @offa/ilorin express way Konta-Ijabe Osun State</li>
	<li>Location</li>
	</ul>
<div>





Copyright<br/>

<h4>Designed by <strong style="color:orange"> Bunmi Ben</strong></h4>
</div></footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


</html>